@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif ;
$font-cormorant: 'Cormorant', serif ;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    width: 1920px;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        right: 18rem;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        text-decoration: none;
        font-weight: 500;
        color: $green;
        letter-spacing: 0.1rem;
        position: absolute;
        right: 36rem;
        &:hover {
            color: $orange;
        }
        
    }



    &__cart {
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        background-image: url(../images/cart.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-color: $orange;
        border-radius: 100%;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        color: $white;
        font-size: .8rem;
        position: absolute;
        right: .7rem;
        top: .6rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.3rem;
    height: 3.2rem;
}

.general {
    display: flex;
    gap: 21rem;
}



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    &__item {
        margin-left: 12rem;
        margin-top: 6.4rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 5.8rem;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        width: 92%;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0; 
        color: $green;
        position: absolute;
        text-align: left;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
    &::before {
        content: '';
        background-color: $green;
        width: 11px;
        height: 11px;
        box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
        border-radius: 100%;
        position: absolute;
        }
        &_1 {
            top: 40px;
            left: 68px;
            &::before {
                bottom: 10px;
                right: -34px;
            }
        }
        &_2 {
            top: 187px;
            right: 2px;
            &::before {
                top: 24px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -45px;
            right: 243px;
            &::before {
                bottom: 56px;
                right: 31px;
            }
        }
    }
    &__tomato {
        position: absolute;
        bottom: 117px;
        right: 121px;
        width: 110px;
        height: 119px;
    }

    &__avokado {
        position: absolute;
        top: 47px;
        right: -15px;
        width: 194px;
        height: 189px;
    }

    &__cucumber {
        position: absolute;
        top: -5rem;
        left: 69rem;
        width: 85px;
        height: 92px;
    }

    &__pepper {
        position: absolute;
        top: 39.7rem;
        left: 4rem;
        width: 86px;
        height: 72px;
    }

    &__beans {
        position: absolute;
        bottom: 16.6rem;
        left: 2px;
        width: 105px;
        height: 115px;
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
        line-height: 3rem;
    }
    

}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1em;
    margin-top: 4rem;
    &__span {
        font-style: italic;
    }
    &_block{
        .title__span {
            display: block;
        }
    }
}

.description {
    &_size-s {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin: 0;
    }
}

.link {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
}


  